.article {
    border: 1px solid black;
    margin: 5px 20px;
    padding: 5px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 40px;
}

.span {
    font-size: 1.3rem;
    width: 60%;
    padding-left: 5px;
}

.btnContainer {
    width: 40%;
    display: flex;
}

.btnContainer button {
    height: 38px;
    flex: 1;
    padding: 5px;
    background-color: rgb(238, 202, 154);
    border: none;
    margin-left: 5px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 2px;
}

.btnContainer button:hover {
    background-color: rgb(240, 189, 122);
}

.list {
    margin: 15px;

}