* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(238, 202, 154);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: #286976;
    min-width: 450px;
    min-height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}